/* Reset de margens e padding para o body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo do conteúdo da página */
main {
    flex: 1;
}
.container, .table-container {
    max-width: 800px;
    margin: 20px auto; /* Adiciona margem para separar do topo da página */
    padding: 20px;
    background-color: #e3f0ff; /* Adiciona uma cor de fundo para o conteúdo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}


/* Estilo do header */
header {
    background-color: #007BFF; /* Altera a cor de fundo para um azul mais perceptível */
    color: #fff;
    text-align: center;
    padding: 15px 0; /* Aumenta o espaçamento vertical */
}

header h1 {
    margin: 0;
    font-size: 32px; /* Aumenta o tamanho da fonte do cabeçalho */
}

/* Estilo para títulos secundários */
h2 {
    color: #007BFF; /* Altera a cor para o mesmo azul do header */
    border-bottom: 1px solid #007BFF; /* Adiciona uma borda inferior */
    padding-bottom: 5px; /* Cria um espaçamento entre o título e o conteúdo */
}

/* Estilo para parágrafos */
p {
    margin-bottom: 20px; /* Aumenta o espaçamento entre os parágrafos */
    line-height: 1.8; /* Aumenta o espaçamento entre linhas */
}

/* Estilo para listas não ordenadas */
ul {
    margin-left: 30px; /* Aumenta o recuo da lista */
}

/* Estilo para código de exemplo */
pre.code-example {
    background-color: #f5f5f5; /* Altera a cor de fundo para diferenciar do conteúdo */
    padding: 15px;
    overflow-x: auto;
    font-size: 14px;
    border-radius: 4px; /* Adiciona bordas arredondadas */
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; /* Adiciona margem para separar do conteúdo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

table, th, td {
    padding: 12px; /* Aumenta o espaçamento interno das células */
    border: 1px solid #ddd;
}

/* Estilo para as linhas brancas */
.white-row {
    background-color: #ffffff;
}

/* Estilo para as linhas cinzas */
.gray-row {
    background-color: #cce4ff; /* Altera a cor para um cinza mais perceptível */
}

/* Estilo para a barra de busca */
.search-bar {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px; /* Adiciona um espaçamento interno */
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border: none; /* Remove a borda do input */
    border-radius: 20px; /* Deixa o input mais arredondado */
}

/* Estilo do footer */
footer {
    background-color: #007BFF; /* Altera a cor de fundo para um azul mais perceptível */
    color: #fff;
    text-align: center;
    padding: 2px 0; /* Aumenta o espaçamento vertical */
}

/* Estilo para tags */
.tag {
    background-color: #cce4ff; /* Azul mais claro para tags */
    color: #007BFF;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Estilo para atributos */
.attribute {
    background-color: #cce4ff; /* Azul mais claro para atributos */
    color: #007BFF;
    padding: 2px 4px;
    border-radius: 4px;
}